body{
    color:#fff;
    line-height:1.4;
    margin:0;
    font-family:'Roboto',sans-serif;
    background-color: #f4f4f4;
}

section{
    opacity: 0;
  filter: alpha(opacity=0); 
}

#gradient{
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

#wrap {
    width:85%;
    margin:0 auto;
    margin-top: 5%;
    }

#nav-bar{  
    border-bottom:4px solid #428bca;
    font-size:17px;
    background:#333;
}

#center{
    text-align: center;
}

a {
    text-decoration:none;
    -webkit-transition:.2s ease-out;
    -moz-transition:.2s ease-out;
    -o-transition:.2s ease-out;
    transition:.2s ease-out
    }
    
    a:hover {
    color:#fff;
    cursor:pointer
    }

.nav-block{
    padding: 10px 20px;
    display: block;
}

.cards{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 40%;
    background-color: #428bca;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    position: relative;
}

.container{
    border: none;
    text-align: center;
}

.container button{
    background-color: #333;
    padding: 15px 32px;
    color: #fff;
    border: none;
    border-radius: 5px;
}

h1, h2{
    text-align: center;
    font-size: 17px;

}

